body{
    font-family: 'Titillium Web', sans-serif;
    background-color: ivory;
}


section{
    margin:auto;
    width: 90%;
}

.logo{
    width: 100px;
    margin-right: 10px;
}


.input_box{
margin-top: 50px;
margin-bottom: 50px;
text-align: center;
margin-right: 10px;


}

.btn:hover{
    background-color: #FF0085;
    color: white;
}


.input_serch{
    width: 40%;
}


.flexbox{
    
    flex-basis: 33%;
    
}

.float{
    float: left;
    margin: 2%;
    width: 350px;
    

 
}

.float img{
    width: 100%;
    height: 300px;    
    object-fit: cover;
 
    
}


.flexbox img{
    width: 400px;
    height: 300px;
    text-align: center;
    object-fit: cover;
    
}

.ui-dialog-title, .title{
    color: #FF0085; 
    font-family: 'Titillium Web', sans-serif;
    
}

.ui-widget-header {

        font-weight: 300;
}

.flexbox img:hover{
    opacity: 0.5;
}

.float img:hover{
    opacity: 0.5;
}

.flexboxContainer{
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    width: 100%;
}


